html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

.open:hover {
  background-color: #EF5E2F;
  text-decoration: none;
}
a {
  color: #ff9f07;
}
a::after {
  color: #ff9f07;
}
a:hover {

}

.stepwizard-step p {
  margin-top: 10px;
}
.stepwizard-row {
  display: table-row;
  z-index: 3
}
.stepwizard {
  display: table;
  width: 60%;
  position: relative;
}
.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  background-color: #ff9f07;
}
.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 84%;
  height: 1px;
  /* background-color: #ccc; */
  z-order: 2;
  background-color: #ff9f07;
}
.stepwizard-step {
  display: table-cell;
  /* text-align: center; */
  position: relative;
  width: 200px;
}

.btn-circled {
  z-index: 1;
  width: 30px;
  height: 30px;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
  background-color: #ff9f07;
  border-color: #ff9f07;
  color: white;
}

.checkCircle {
  z-index: 1;
  width: 30px;
  height: 30px;
  text-align: center !important;
  /* padding: 6px 0 !important; */
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
  background-color: #ff9f07;
  border-color: #ff9f07;
  color: white;
}

.btn-circled:hover {
  z-index: 1;
  width: 30px;
  height: 30px;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
  background-color: #ff9f07;
  border-color: #ff9f07;
  color: black;
  opacity: 1;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem
}

.badge:empty {
  display: none
}

.btn .badge {
  position: relative;
  top: -1px
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem
}

.badge-primary {
  color: #fff;
  background-color: #20a8d8
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #1985ac
}

.badge-secondary {
  color: #23282c;
  background-color: #c8ced3
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
  color: #23282c;
  text-decoration: none;
  background-color: #acb5bc
}

.badge-success {
  color: #fff;
  background-color: #4dbd74
}

.badge-success[href]:hover,
.badge-success[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #3a9d5d
}

.badge-info {
  color: #23282c;
  background-color: #63c2de
}

.badge-info[href]:hover,
.badge-info[href]:focus {
  color: #23282c;
  text-decoration: none;
  background-color: #39b2d5
}

.badge-warning {
  color: #23282c;
  background-color: #ffc107
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
  color: #23282c;
  text-decoration: none;
  background-color: #d39e00
}

.badge-danger {
  color: #fff;
  background-color: #f86c6b
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f63c3a
}

.badge-light {
  color: #23282c;
  background-color: #f0f3f5
}

.badge-light[href]:hover,
.badge-light[href]:focus {
  color: #23282c;
  text-decoration: none;
  background-color: #d1dbe1
}

.badge-dark {
  color: #fff;
  background-color: #2f353a
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #181b1e
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e4e7ea;
  border-radius: .3rem
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active:hover {

  background: #ff9f07;
}

input[type='radio']:after {
   width: 15px;
   height: 15px;
   border-radius: 15px;
   top: -2px;
   left: -1px;
   position: relative;
   background-color: white;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 1px solid #f0f3f5;
   outline: none;
}

input[type='radio']:focus {
   outline: none;
}

input[type='radio']:checked:after {
 width: 15px;
 height: 15px;
 border-radius: 15px;
 top: -0.1px;
 left: -1.6px;
 position: relative;
 background-color: white;
 content: '';
 display: inline-block;
 visibility: visible;
 border: 6px solid #ff9f07;
 outline: none;
}
